body{
  background-color: powderblue;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:6px;
  width: 20%;
}
h1{
  color: #ce2e6c;
}
h2{
  color: #ce2e6c;
}
#dp{
    background-radius:200%;
}
